@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
h2 {
  color: steelblue;
  font-weight: bolder;
  transition: .2s;
}
.container, .container-add {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
  background-color: #eaedf2;
}

.container-add {
  margin-top: 0px;
  max-width: 60%;
  margin-left: 30%;
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow:  12px 12px 24px #bfdcf541,
             -12px -12px 24px #bfdcf541;
}
.btn:hover {
  background: rgba(15, 65, 105, 0.566);
}
.btn-block {
  width: 100%;
}
.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  padding: 3px 7px;
}

.form-control input, label, textarea, .choose, .btn {
    font-size: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    transition: .3s;
    outline: none;
    color: steelblue;
}
input::placeholder, textarea::placeholder {
  font-size: 17px;
  color: rgba(70, 131, 180, 0.311);
}
.btn {
  background-color: steelblue;
  color: white;
  margin-top: 60px;
}
.header {
  display: flex;
  flex-direction: column;
  padding: 0px 0 10px 5%;
  width: 20%;
  align-items: center;
  height: 100%;
  position: fixed;
  box-shadow: #31383F 0px 0px 10px 0px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  justify-content: space-between;
}
.nav-links a {
  display: flex;
  align-items: center;
  padding: 4px;
  font-size: 15px;
  width: fit-content;
}
.nav-links a:hover {
  background-color:#f5d0b1;
  border-radius: 20px;
  color: #d5824e;
}
a {
  text-decoration: none;
  color: steelblue;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.image-upload > input {
  visibility: hidden;
  width: 0;
  height: 0;
}
.image-upload img {
  cursor: pointer;
}